html {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: separate;
}

th, td {
    margin: 0;
    padding: 0.25em 0.5em;
}

/*Table header styling.  */
thead th {
    border-top: 0.15em black solid;
    border-bottom: 0.15em black solid;
    font-size: 1.15em;
    font-weight: bolder;
    width: 8em;
}

thead th:first-child {
    border-radius: 1em 0 0 0;
    border-left: 0.15em black solid;
}

thead th a img, tfoot td a img {
    line-height: 2em;
    margin: auto 0.25em;
}

thead th:last-child {
    border-radius: 0 1em 0 0;  
    border-right: 0.15em black solid;
    width: auto;
}

thead th:only-child {
    border-radius: 1em 1em 0 0;
    border: 0.15em black solid;
}

/* Table footer styling.  */
tfoot td {
    border-top: 0.1em black solid;
    border-bottom: 0.15em black solid;
    font-size: 1.15em;
    font-weight: bolder;
    width: 8em;
}

tfoot td:first-child {
    border-radius: 0 0 0 1em;
    border-left: 0.15em black solid;
}

tfoot td:last-child {
    border-radius: 0 0 1em 0;
    border-right: 0.15em black solid;
    width: auto;
}

tfoot td:only-child {
    border-radius: 0 0 1em 1em;
    border: 0.15em black solid;
}

/* Table body styling. */
tbody td {
    width: 8em;
    border-bottom: 0.1em black solid;
}

tbody td:first-child {
    border-left: 0.15em black solid;
    font-weight: bold;
}

tbody td:last-child {
    border-right: 0.15em black solid;
    text-align: left;
    width: auto;
}

tbody tr:last-child td {
    border-bottom: none;   
}

/* Styling for SEVERE rows. */
tr._1000 {
    background-color: #FF0000;
}
tr._1000 td:not(:first-child) {
    background-color: #FF1919;
}

/* Styling for WARNING rows. */
tr._900 td {
    background-color: #FF8000;
}
tr._900 td:not(:first-child) {
    background-color: #FF9B19;
}

/* Styling for INFO rows. */
tr._800 td {
    background-color: #FFFB00;
}
tr._800 td:not(:first-child) {
    background-color: #FFFF19;
}

/* Styling for CONFIG rows. */
tr._700 td {
    background-color: #BFBFBF;
}
tr._700 td:not(:first-child) {
    background-color: #D2D2D2   ;
}

/* Styling for FINE rows. */
tr._500 td {
    background-color: #00FF00;
}
tr._500 td:not(:first-child) {
    background-color: #14FF14;
}

/* Styling for FINER rows. */
tr._400 td {
    background-color: #55FF55;
}
tr._400 td:not(:first-child) {
    background-color: #69FF69;
}

/* Styling for FINEST rows. */
tr._300 td {
    background-color: #96FF96;
}
tr._300 td:not(:first-child) {
    background-color: #AAFFAA;
}

/* Summary table styles. */
#logSummary table {
    border: 0.15em black solid;
}

#logSummary table tr {
    display:inline-table;
    width: 5em;
}

#logSummary table tr td {
    border: 0;
}

/* Complete log table styles. */
#logTable table {
    width: 90%;
}

#logTable th:not(:first-child), #log td:not(:first-child) {
    border-left: 0.1em black solid;
}